body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f4f6fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
}

label {
    font-weight: 600;
    color: #444;
}

input, select {
    width: 40%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 18px;
    border-radius: 10px;
    border: 1px solid #c9c9c9;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 150px;
    padding: 12px;
    background: #4a6cf7;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 500;
    margin-top: 5px;
    transition: 0.25s;
}

button:hover {
    background: #3f5bd3;
}

.result-box {
    margin-top: 25px;
    padding: 18px;
    background: #eef2ff;
    border-radius: 12px;
    color: #333;
    font-size: 16px;
    border-left: 5px solid #4a6cf7;
}

.chart-container {
    margin-top: 30px;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.08);
}

.title-box {
    background: #4a6cf7;
    color: white;
    padding: 18px;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 20px;
}

.title-box h2 {
    margin: 0;
    font-weight: 700;
}

#errorBox {
    display: none;
    background: #ffdddd;
    color: #b30000;
    padding: 15px;
    border-left: 5px solid #ff4d4d;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 20px;
}
